* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: rgb(17, 70, 139);
  background-color: rgb(188, 248, 173);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #bbb;
  background-color: rgb(186, 230, 250);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #fff;
  text-align: center;
  text-decoration: none;
  color: rgb(12, 2, 2);
}

nav a[aria-current='page'] {
  color: rgb(0, 0, 0);
  background-color: #93ffaa;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.9rem;
  font-family: fantasy;
  color: rgb(15, 118, 187);
}

.Uno{
  color: rgb(0, 168, 247);
  background-color: rgb(254, 255, 223);
  font-size: small; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}

.Dos{
  color: rgb(255, 185, 54);
  background-color: rgb(254, 255, 223);
  font-size: small; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}

.Tres{
color: rgb(4, 68, 4);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: large;
}